.modal-container {
    background: white;
    border-radius: 0;
    border: 2px solid #d1d5db;
    padding: 48px 36px 36px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 340px;
}

@media (max-width: 700px) {
    .modal-container {
        min-width: 0;
        padding: 32px 1rem 24px 1rem;
        max-width: 95vw;
    }
}